:root {
    --primary: #d37822;
    --secondary: #FFCC70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--primary);
    color: #fff;
}

/* main {
    display: flex;
} */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-logo span {
    color: var(--secondary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--secondary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--secondary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.8);
}

.navbar .navbar-ex a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-ex a:hover {
    color: var(--secondary);
}

#menu-btn {
    display: none;
}

/* HOME SECTION */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../assets/image/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    padding: 1rem 10%;
    max-width: 80rem;
    color: var(--primary);
}

.home .content h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 3.5rem;
}

.home .content h1 strong {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 6rem;
}

.home .content h1 span {
    color: var(--secondary);
}

.home .content p {
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 70%;
}

.home .content .buy-now-btn {
    background-color: var(--primary);
    display: inline-block;
    color: #fff;
    padding: 0.8rem 1.8rem;
    border-radius: 15px;
    cursor: pointer;
}

.home .content .buy-now-btn:hover {
    background-color: #9b591b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

/* ABOUT SECTION */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 20% 7rem;
}

.about h2 {
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
}

.about span {
    color: var(--secondary);
}

.about p {
    text-align: center;
}

/* PRODUCTS SECTION */
.products {
    padding: 3rem 10% 7rem;
    background-color: #fff;
}

.products h2 {
    text-align: center;
    color: var(--primary);
    font-size: 3rem;
    padding: 4rem 0;
}

.products .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 4rem;
}

.products .container .card {
    position: relative;
    max-width: 300px;
    height: 300px;
    border-radius: 1rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.products .container .card .content .imgbx img {
    max-width: 300px;
    border-radius: 1rem;
}

.products .container .card .content .title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* CONTACT SECTION */
.contact {
    color: var(--primary);
    padding: 2.5rem 10% 6rem;
    background-color: #fff;
}

.contact h2 {
    font-size: 3rem;
    padding: 3rem 0;
    text-align: center;
}

.contact .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: #f7f7f7;
    border: 1px solid #d8dbdc;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}


.btn-submit {    
    width: 50%;
    padding: 0.75rem 1.3rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.contact-item {
    display: flex;
    gap: 2rem;
}

.contact-item a {
    color: #fff;
    background-color: var(--primary);
    width: 3rem;
    height: 3rem;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-detail {
    margin-bottom: 1rem;
}

/* ASIDE SECTION */
.biodata h3 {
    color: var(--primary);
    padding-bottom: 1.5rem;
}

.biodata .container {
    display: block;
}

.biodata .container .image img {
    max-width: 150px;
    border: 5px solid var(--primary);
    border-radius: 50%;
}

.biodata .container .content h4,
.biodata .container .content p {
    color: var(--primary);
}

footer {
    padding: 1.5rem;
    text-align: center;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .home .content {
        max-width: 80%;
    }

    .home .content h1 {
        line-height: 3rem;
    }

    .home .content h1 strong {
        line-height: 6rem;
    }
}

@media (max-width: 868px) {
    html {
        font-size: 75%;
    }

    .home .content {
        max-width: 70%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }

    #menu-btn {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 20rem;
        height: 100vh;
        transition: 0.4s;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px 0px;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        font-size: 2rem;
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.5);
    }

    .home .content {
        max-width: 90%;
    }

    .home .content h1 {
        line-height: 3rem;
    }

    .home .content h1 strong {
        line-height: 5rem;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }

    .home .content h1 {
        line-height: 3rem;
    }

    .home .content h1 strong {
        line-height: 5rem;
    }
}